# Python >= 3.9
# Core data science
numpy>=2.0.2
pandas>=2.3.3
scipy>=1.13.1

# Visualization
matplotlib>=3.9.4
seaborn>=0.13.2

# Machine Learning
scikit-learn>=1.6.1

# Jupyter
jupyter>=1.1.1
notebook>=7.5.7
